{% extends "base.tmpl" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
    });
  </script>
{% endblock head %}

{% block main_content %}
<ol class="event">
  <li class="event">
    <h2>Our Mission</h2>
    <p>We're dedicated to creating a forum in the San Francisco Bay Area where
    Asian American professionals and students can meet and foster the common
    goal of community service, benefiting the extended community as a
    whole.</p>

    <p>Our members can be found throughout the Bay Area and tend to be their
    20s and 30s. AACO organizes community service and social events and
    promotes awareness of social and political issues relevant to Asian
    Americans. By bringing together people from many diverse fields, AACO hopes
    to pool its members' knowledge, strength, and experience to make a positive
    impact on our community.</p>
  </li>

  <li class="event">
    <h2>People</h2>
    <p>We're are a volunteer-run community group who's organizers are committed
    to making AACO an organization that is rewarding and enriching, to our
    volunteers, event participants, and to the community.</p>
  </li>
</ol>
{% endblock main_content %}
