{% extends "base.tmpl" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
    });
  </script>
{% endblock head %}

{% block main_content %}
  <div id="main-content-header-div">
    <p>AACO gladly provides the following announcements as a service to the
    community.</p>
    <p>Any events listed below are NOT explicitly sponsored by AACO,
    and AACO does not guarantee the accuracy of the information provided. If
    you would like to add an item to our Community Announcement Listings,
    please use our <a href="/feedback.htm">Feedback Form</a>.</p>
  </div>
  <div style="clear: left;"></div>
  <div>
    <ol class="event">
    {% for event in events %}
      <li class="event">{% include "out_html_item.tmpl" %}</li>
    {% endfor %}
    </ol>
  </div>
{% endblock main_content %}
