  <style>
    body {
      color: white;
      background-color: black;
    }

    a:link {
      color:#FFFF00;
    }

    a:visited {
      color:#FF6600;
    }

    a:active {
      color:#99CC00;
    }

    a:hover {
      color:#111111;
    }

    #mast-div {
      height: 120px;
    }

    #base-div {
      position: relative;
      width: 0960px;
      padding: 0px 5px 5px 5px;
      margin-left: auto;
      margin-right: auto;
    }

    #sidebar-div {
      float: left;
    }

    #sidebar-nav-div {
      width: 200px;
      float: left;
      margin-right: 0px;
      margin-top: 10px;
      text-align: center;
      background-color: #444444;
    }

    #sidebar-image-div {
      width: 200px;
      float: left;
      margin-right: 0px;
      margin-top: 10px;
      text-align: center;
    }

    #sidebar-image-div-sav {
      width: 200px;
      height: 116px;
      float: left;
      margin-right: 0px;
      margin-top: 10px;
      text-align: center;
      vertical-align: middle;
      background-color: #444444;
    }

    #sidebar-syndication-div {
      width: 200px;
      height: 25px;
      float: left:
      margin-right: 0px;
      margin-top: 10px;
      text-align: center;
      background-color: #444444;
    }

    #sidebar-list {
      margin-top: 10px;
      padding: 0px;
    }

    #sidebar-item {
      margin: 0px;
      padding-top: 5px;
      list-style: none;
      
    }

    .sidebar-links {
      text-decoration: none;
      font-weight: bold;
    }

    #main-content-div {
      width: 750px;
      float: right;
    }

    #main-content-item-div {
      background-color: #444444;
    }

    #main-content-header-div {
      margin-left: 20px;
      padding: 1px 10px 1px 10px;
    }

    #main-content-footer-div {
      width: 750px;
      float: left;
      padding-left: 20px;
    }

    #mast-image {
      position: absolute;
      left: 43px;
    }

    #mast-title {
      display: inline;
      position: absolute;
      text-transform: lowercase;
      font-size: 70px;
      left: 250px;
      -webkit-transition: color 0.25s linear;
    }

    tr.event {
      vertical-align: top;
    }

    th.event {
      width: 050px;
      text-align: left;
    }

    td.event {
      padding: 0px 20px 10px 20px;
    }

    ol.event {
      list-style-type: none;
      margin-top: 0px;
      padding-left: 20px;
    }

    li.event {
      margin-top: 10px;
      border-radius: 1.6em;
      padding: 10px;
      background-color: #444444;
    }

    b.event {
      font-weight: bold;
      display: inline;
      color: red;
    }

    h2.event {
      display: inline;
    }

    h3.event {
      display: inline;
    }
  </style>

