{% extends "base.tmpl" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
    });
  </script>
{% endblock head %}

{% block main_content %}
  <ol class="event">
  {% for event in events %}
    <li class="event">{% include "../shared/out_html_item.tmpl" %}</li>
  {% endfor %}
  </ol>
  <div id="main-content-footer-div">
    <h2>Disclaimer / Waiver</h2>
    <p>AACO events are not professionally or formally guided. It is the
    participants' responsibility to ensure they are in proper physical
    condition for events they attend, and should consult their physician
    if necessary.</p>
    <p>By attending an event you agree that you do so at your own risk,
    are voluntarily participating, assume all risk of injury to yourself,
    and release and discharge AACO and its staff from any and all claims
    or causes of action, known or unknown, arising out of AACO's
    negligence.</p>
  <div>
{% endblock main_content %}
