{% extends "base.tmpl" %}

{% block title %}{{ application_name }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div>
  welcome. please choose from the options above!
</div>
{% endblock %}

{% block footer %}
{% endblock %}
