{% extends "base.tmpl" %}

{% block title %}{{ application_name }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div>
Actions
  <ul>
    <li><a href="/events/list">List</a></li>
    <li><a href="/events/add">Add</a></li>
    <br/>
    <li><a href="/events/out">Publish</a></li>
  </ul>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
