{% extends "out_html.tmpl" %}

{% block out_header %}{% endblock out_header %}
{% block out_css %}{% endblock out_css %}
{% block section_header %}{% endblock section_header %}
{% block out_footer %}{% endblock out_footer %}
