    <style>
      tr.event {
        vertical-align: top;
      }

      th.event {
        width: 050px;
        text-align: left;
      }

      td.event {
        padding: 0px 20px 10px 20px;
      }

      li.event {
        margin-top: 10px;
      }

      b.event {
        font-weight: bold;
        display: inline;
        color: red;
      }

      h3.event {
        display: inline;
      }
    </style>

